* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Sqartan", sans-serif;
}

:root {
  --dk-violet: hsl(268, 75%, 9%);
  --lt-violet: hsl(268, 47%, 21%);
  --lt-violet2: hsl(281, 89%, 26%);
  --vb-violet: hsl(285, 91%, 52%);
  --vb-violet2: hsl(290, 70%, 36%);
  --vb-yellow: hsl(52, 100%, 62%);
  --pl-white: hsl(0, 0%, 100%);
  --vb-cyan: hsl(176, 100%, 44%);
  --vb-cyan2: hsl(177, 92%, 70%);
  --dk-text: hsl(198, 20%, 13%);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%,
    rgba(4, 4, 75, 1) 100%
  );
}
h1 {
  color: var(--pl-white);
  opacity: 0.75;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
}
.display-container {
  /* display: flex; */
  padding: 30px;
  position: relative;
  background-color: var(--dk-violet);
  border-radius: 1rem;
  border-bottom: 0.35rem solid var(--lt-violet2);
  margin: 1rem 0;
  padding-top: 0.35rem;
}
.dispaly {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 1.25rem 1rem;
  color: var(--vb-yellow);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 1px;
  padding-right: 3.25rem;
}
.dispaly::placeholder {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.5rem;
  line-height: 30px;
  color: var(--vb-yellow);
  opacity: 0.65;
  text-transform: uppercase;
  /* transform: translateY(-50%); */
}

.display-container button {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}
.input-container {
  padding: 2rem;
  background-color: var(--dk-violet);
  min-width: 28.5rem;
  border-radius: 1rem;
  border-bottom: 0.35rem solid var(--lt-violet2);
}
.length-container {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.length-container p {
  font-size: 1.5rem;
  line-height: 30px;
}
.length-container > :nth-child(2) {
  color: var(--vb-yellow);
}
.slider::-webkit-slider-thumb {
  background-color: var(--vb-yellow);
}
.strength-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
}
.strength-container p {
  font-size: 1.5rem;
}
.indicator {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.generator-button {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--vb-violet);
  text-align: center;
  border-radius: 0.75rem;
  border-bottom: 0.35rem solid var(--vb-yellow);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--vb-yellow);
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}
